{% extends 'base.html' %}

{% block title %}
	Our Services | Awareness Session
{% endblock title %}

{% block body %}
<div class="card text-bg-light mx-5 my-5">
	
	  <div class="col-md-12">
		<div class="card-body">
		  <h3 class="card-title">Awareness Sessions</h3>
		  <p class="card-text">Juvenile Justice Board approached various NGOs working for children and Youth for imparting Vocational Guidance and other skills training to inmates at Special Home and Observation Home at Yerawada. ASHNI offered to conduct counseling sessions and Life skills sessions for Juveniles who are in conflict with law at Pune. In the Jeevan Shala Project of ASHNI, members of ASHNI facilitated Life Skills Sessions for Juveniles at Special Home and Observation home at Pandit Jawahalal Nehru Udyog Kendra on fortnightly basis ie on every first and third Saturday of every month. In year 2021-22 ASHNI conducted 9 sessions which were appreciated by the inmates and staff.</p>
		  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
		</div>
	  </div>
	</div>
  </div>




<p>

</p>
{% endblock body %}