{% extends 'base.html' %}

{% block title %}
	Our Services | Gender Sensitization
{% endblock title %}

{% block body %}
<div class="card text-bg-light mx-5 my-5">
	
	<div class="col-md-12">
	  <div class="card-body">
		<h3 class="card-title">Gender Sensitization</h3>
		<p class="card-text">
			In year 2021-22 ASHNI’s members conducted staff capacity building session for New Vision project staff for Early Childhood Care and Education program. ASHNI organised Two half days ToT workshops for ASHNI’s members and resources persons in ASHNI office. Post attending ToT, three members and three resource persons specially trained by ASHNI’s ECCD Expert conducted sessions in New Vision’s Centres at the construction sites for their beneficiaries in 11 communities. These interactive sessions attended by both male and female parents. Children were engaged in interesting activities while their parents participated in the parenting sessions. Every community received two sessions and inputs on role of parents in growth and development of children, diet and nutrition and how it impacts various domains of development.  ASHNI also distributed the pictorial resource material specially designed for these sessions for the future reference of New Vision Teachers and parents. </p>
		<!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
	  </div>
	</div>
  </div>
</div>

{% endblock body %}