{% extends 'base.html' %}

{% block title %}
	Our Services | PoSH Awareness
{% endblock title %}

{% block body %}
<div class="card text-bg-light mx-5 my-5">
	
	<div class="col-md-12">
	  <div class="card-body">
		<h3 class="card-title">PoSH awareness session</h3>
		<p class="card-text">
			Implementation of ‘the Sexual Harassment of Women at Workplace Act- 2013  
<ul>
<li>Formation of internal committee and designing robust Anti-Sexual Harassment policies.</li> 
<li>Conducting gender sensitivity workshops and awareness programs for employees. </li>
<li>Orientation and Capacity Building of Internal Committee Members. </li>
<li>Empanelment of External Member on the Internal Committee</li>
</ul>
		</p>
	  </div>
	</div>
  </div>
</div>


{% endblock body %}